.blog-index .row {
	display: flex;
}

.blog-index li {
	margin-left: 0;
	list-style-type: none;
}

.blog-index .row span {
    margin-right: 1rem;
    font-family: 'Open Sans';
    white-space: nowrap; /* don't break on date hyphens */
}
