:root {
    --void-color: #ececea;
    --bg-color: #fafaf8;
    --text-color: #302010;

    --link-color: #a040e0;
    --inline-code-color: #EC5E0C;
    --accent-color: #a09090;

    --code-bg-color: white;
    --code-default-color: #666;
    --code-name-color: #EC5E0C;
    --code-kw-color: #BA2640;
}

body {
    background-color: var(--void-color);
}

main, h1, h2, h3 {
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

div.post-date {
    color: var(--accent-color);
}

pre {
    border: 1px solid var(--accent-color);
    background-color: var(--code-bg-color);
}

hr {
    border: 0;
    border-top: 1px solid var(--accent-color);
}

a, a:visited, a:hover, a:focus {
    color: var(--link-color);
    text-decoration: none;
}

/* [**Foo**](link) */
a strong, a:visited strong, a:hover strong, a:focus strong {
    color: var(--link-color);
    text-decoration: none;
}

/* [`Foo`](link) */
a code, a:visited code, a:hover code, a:focus code {
    color: var(--link-color);
    text-decoration: none;
}

.border-top {
    border-top: 1px solid var(--accent-color);
}


/** Code **/

code {
    color: var(--inline-code-color);
}

pre code {
    color: var(--code-default-color);
}

/* Keywords */
pre code .k, code .kd {
    color: var(--code-kw-color);
}

/* Names */
pre code .n {
    color: var(--code-name-color);
}

/* Punctuation, ops, strings, comments */
div .highlight pre code, pre code .p, code .o, pre code .s, pre code .c1 {
    color: var(--code-default-color);
}

.bg-colored {
    background-color: var(--bg-color);
}

.text-colored {
    background-color: var(--text-color);
}

.link-colored {
    background-color: var(--link-color);
}

.inline-code-colored {
    background-color: var(--inline-code-color);
}

.accent-colored {
    background-color: var(--accent-color);
}

