/* home page */

nav {
    display: none;
}

#namebox {
    display: flex;
    margin-bottom: 1.7rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

#namebox h1 {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 0;
    line-height: 1em;
    border-bottom: 0;
    margin-top: 0;
}

#namebox #arrow {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#namebox strong {
    font-weight: bold;
    font-size: 200%;
}

#namebox p {
    margin-bottom: 0;
}

#namebox > :nth-child(1) {
    margin-right: 2rem;
    text-align: right;
    flex-basis: 0;
    flex-grow: 1;
}

#namebox > :nth-child(2) {
    text-align: right;
    flex-basis: 256px;
    flex-grow: 0;
}

@media (max-width: 570px) {
    #namebox {
        flex-direction: column;
    }
    #namebox #arrow {
        display: none;
    }
    #namebox > :nth-child(1) {
        margin-right: 0;
    }
    #namebox > :nth-child(2) {
        /*display: none;*/
        /*text-align: center;*/
        flex-basis: unset;
    }
    #namebox img {
        max-width: 100%;
        height: auto;
    }
    #namebox p {
        /*margin-bottom: 0;*/
    }
}

#namebox dfn {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

#namebox p {
    margin-top: 1rem;
}

#linkstuff {
    margin: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#linkstuff > p {
    margin-top: 0;
    margin-bottom: 0;
}

#linkstuff a {
    margin: 1rem;
}

#linkstuff br {
    display: none;
}

@media (max-width: 400px) {
    #linkstuff br {
        display: inline;
    }
    #linkstuff > p > span.dot:last-of-type {
        display: none;
    }
    #linkstuff > p:last-child > span.dot:last-of-type {
        display: inline;
    }
}

span.dot:before {
    content: '\0025cf'; /* circle */
}

#contact emph {
	font-weight: bold;
	font-style: italic;
}

