div.everything {
    max-width: 90ch;
}

nav {
    display: none;
}

#section-container {
    display: flex;
    flex-direction: column;
}

#section-container > * {
    display: flex;
    flex-direction: row;
}

@media (max-width: 570px) {
    #section-container > * {
        flex-wrap: wrap;
    }
}

#section-container > section > :first-child {
    flex-basis: 12ch;
    flex-shrink: 0;
}

#skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 700px) {
    #skills-container {
        flex-direction: column;
    }
}

#experience-container {
    display: flex;
    flex-direction: column;
}

#contacts {
    margin-top: 1rem;
}

#contacts a {
    display: block;
}

footer {
    justify-content: center;
}


header {
    justify-content: space-between;
    align-items: flex-end;
}

header h2 {
    margin-bottom: 0;
}

header #contacts {
    margin-right: 2rem;
    line-height: 2rem;
}

div {

}

header {
    padding-left: 0;
}

section, footer {
    margin-top: 2rem;
    padding-top: 1rem;
}

footer {
    padding-top: 1rem;
}

#skills-container > div {
    margin-right: 2rem;
}

#skills-container > div:last-child {
    margin-right: 0;
}

#skills-container > div {
    /*width: 30%;
    max-width: 30%;*/
    flex-basis: 30%;
}

#experience-container > div {
    padding-top: 1rem;
}

#experience-container > div:first-child {
    border-top: 0;
    padding-top: 0;
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p:first-child {
    margin-top: 0;
}

section h1 {
    margin-bottom: 1rem;
}

section h2, section h3, section h4 {
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

header h1 {
    font-size: 3rem;
}

header h2 {
    font-size: 2rem;
    font-weight: 400;
}

section h1 {
    font-size: 1.2rem;
}

section h2 {
    font-size: 1.2rem;
}

section h3 {
    font-size: 1.1rem;
}
