* {
    box-sizing: border-box;
}


/* Fonts */

/* These are also specified in default.html */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono&display=swap');

body, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: 'Droid Sans Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Inconsolata', 'Consolas', 'Monaco', monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

div.post-date {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

/* Layout */

body {
    /*padding-top: 4rem;*/
    /*padding-bottom: 4rem;*/
    /*padding-left: 2rem;
    padding-right: 2rem;*/
    /*max-width: 70ch;*/
    /*margin-left: auto;
    margin-right: auto;*/
}

main {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

main > h1:first-child {
    margin-top: 0;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 2em;
}

code {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

pre {
    padding: 1.7rem;
    overflow: auto;
}

pre code {
    white-space: pre;
    margin-left: 0;
    margin-right: 0;
}

blockquote > p {
    font-size: 0.8rem;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2rem;
}

ul > li {
    list-style-type: circle;
}

li {
    margin-left: 2rem;
}

li,
li p {
    line-height: 1.8rem;
}
