* {
    box-sizing: border-box;
}


/* Fonts */

/* These are also specified in default.html */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono&display=swap');

body, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

code {
    font-family: 'Droid Sans Mono', 'Liberation Mono', 'DejaVu Sans Mono', 'Inconsolata', 'Consolas', 'Monaco', monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

div.post-date {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

h4, h5, h6 {
    font-size: 1rem;
    font-weight: 600;
}
         
blockquote em {
    font-weight: bold;
}


/* Colors */

body, h1, h2, h3 {
    background-color: white;
    color: #404040;
}

div.post-date {
    color: #BBBBBB;
}

pre {
    border: 1px solid #BBBBBB;
}

/* Keywords */
code .k, code .kd {
    color: #BA2640;
}

code {
    color: #EC5E0C;
}

/* Names */
code .n {
    color: #EC5E0C;
}

/* Punctuation, ops, strings, comments */
div .highlight code, code .p, code .o, code .s, code .c1 {
    color: #404040;
}

a, a:visited, a:hover, a:focus {
    color: #1F97C8;
    text-decoration: none;
}

/* [**Foo**](link) */
a strong, a:visited strong, a:hover strong, a:focus strong {
    color: #1F97C8;
    text-decoration: none;
}

/* [`Foo`](link) */
a code, a:visited code, a:hover code, a:focus code {
    color: #1F97C8;
    text-decoration: none;
}


/* Layout */

body {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 4rem;
    margin-bottom: 2rem;
}


p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

code {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

pre {
    padding: 1.7rem;
    overflow: auto;
}

pre code {
    white-space: pre;
    margin-left: 0;
    margin-right: 0;
}

li {
    list-style-type: circle;
    margin-left: 2rem;
}

li,
li p {
    line-height: 1.8rem;
}

blockquote p {
    margin-top: 0;
}
