<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141100975-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-141100975-1');
  </script>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- serif -->
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,600,600i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,600,600i&display=swap" rel="stylesheet">

  <!-- sans-serif -->
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">

  <!-- mono -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono&display=swap" rel="stylesheet">

  <!-- special -->
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/fontawesome/css/all.css">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <!--<link rel="stylesheet" href="/css/ninja-main.css">-->
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/site.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="everything">
<nav>
  <a href="/"><span class="fas fa-circle"></span></a>
</nav>

<main>
{{ content }}    
</main>
</div>

</body>
<script src="/js/colors.js"></script>
</html>
