<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141100975-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-141100975-1');
  </script>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/fontawesome/css/all.css">

  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/ninja-main.css">
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/colors.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>

  <a href="/"><span class="fas fa-circle"></span></a>

  <!--<a href="/">
    <span class="fas fa-heart" style="transform:translate(0,-0.1ch) scale(1.5, 7)"></span>
  </a>-->

  <!--
  <a href="/"><span class="fas fa-bolt" style="transform:translate(0, -0.1ch)"></span></a>
  <a href="/"><span class="fas fa-bullseye" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="fas fa-dot-circle" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="far fa-dot-circle" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="far fa-circle" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="fas fa-square" style="transform:translate(0, -0.3ch)"></span></a>
  <a href="/"><span class="fas fa-square-full"></span></a>
  <a href="/"><span class="fas fa-skull fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-icicles" style="transform:translate(0, -0.1ch) scale(1, 2)"></span></a>
  <a href="/"><span class="fas fa-monument fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-gopuram fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-vihara fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-torii-gate fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-heart" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="far fa-heart" style="transform:translate(0,-1ch)"></span></a>

  <a href="/"><span class="fas fa-align-justify"></span></a>
  <a href="/"><span class="fas fa-align-justify fa-rotate-90"></span></a>
  <a href="/"><span class="fas fa-archway"></span></a>
  <a href="/"><span class="fas fa-atom"></span></a>
  <a href="/"><span class="fas fa-award"></span></a>
  <a href="/"><span class="fas fa-award fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-bars"></span></a>
  <a href="/"><span class="fas fa-bars fa-rotate-90"></span></a>
  <a href="/"><span class="fas fa-bookmark"></span></a>
  <a href="/"><span class="far fa-bookmark"></span></a>
  <a href="/"><span class="fas fa-campground fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-caret-square-up"></span></a>
  <a href="/"><span class="far fa-caret-square-up"></span></a>
  <a href="/"><span class="fas fa-cog"></span></a>
  <a href="/"><span class="fas fa-cogs fa-rotate-270"></span></a>
  <a href="/"><span class="fas fa-frown-open"></span></a>
  <a href="/"><span class="far fa-frown-open"></span></a>

  <a href="/"><span class="fas fa-circle" style="transform:translate(0,-1ch)"></span></a>
  <a href="/"><span class="fas fa-couch"></span></a>
  <a href="/"><span class="fas fa-couch fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-crown fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-door-closed fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-door-open fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-exclamation"></span></a>
  <a href="/"><span class="fas fa-gem"></span></a>
  <a href="/"><span class="far fa-gem"></span></a>
  <a href="/"><span class="fas fa-glass-cheers"></span></a>
  <a href="/"><span class="fas fa-glass-whiskey"></span></a>
  <a href="/"><span class="fas fa-glass-whiskey fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-glass-martini"></span></a>
  <a href="/"><span class="fas fa-glass-martini-alt"></span></a>
  <a href="/"><span class="fas fa-ghost fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-glasses"></span></a>
  <a href="/"><span class="fas fa-grimmace"></span></a>
  <a href="/"><span class="fas fa-hand-peace fa-rotate-180"></span></a>
  <a href="/"><span class="far fa-hand-peace fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-hard-hat fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-hashtag"></span></a>
  <a href="/"><span class="fas fa-hat-wizard fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-heart"></span></a>
  <a href="/"><span class="far fa-heart"></span></a>
  <a href="/"><span class="fas fa-mountain fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-poop fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-road fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-user fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-wine-glass fa-rotate-180"></span></a>
  <a href="/"><span class="fas fa-wine-glass-alt fa-rotate-180"></span></a>
  -->

</nav>

<main>
{{ content }}    
</main>

</body>
<script src="/js/colors.js"></script>
</html>
