<!-- TODO is this used? -->
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141100975-1"></script>
  <script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-141100975-1');
  </script>

  <meta charset="utf-8">
  <title>{{ page.title }}</title>

</head>
<body>

  <h1>{{ page.title }}</h1>

  {{ content }}

</body>
</html>
